$font-size-where-em-equivalent-to-px: 62.5%;
// https://snook.ca/archives/html_and_css/font-size-with-rem
// 1em ~ 10px

html {
  font-size: $font-size-where-em-equivalent-to-px;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}
