$primary-color: rgb(20, 0, 131);
$secondary-color: rgb(74, 74, 255);
$tertiary-color: rgb(74, 167, 255);

$success-color: rgb(0, 197, 43);
$error-color: rgb(248, 0, 0);
$warning-color: rgb(255, 216, 42);
$info-color: rgb(81, 177, 255);

$shadow-color: rgb(105, 105, 105);
$border-color: rgb(82, 82, 82);
